@font-face {
    font-family: "Nexa-Bold";
    src: URL('../fonts/Nexa_Bold.otf') format("truetype");
}

@font-face {
    font-family: "Nexa-Light";
    src: URL('../fonts/Nexa_Light.otf') format("truetype");
}

@font-face {
    font-family: "Nexa-Black";
    src: URL('../fonts/NexaBlack.otf') format("truetype");
}

@font-face {
    font-family: "Nexa";
    src: URL('../fonts/NexaRegular.otf') format("truetype");
}


html * {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Nexa";
}

html, body {
    background: #212B2d;
    color: #D6E4E8;
}

body {
    margin-inline: 150px;
}

*,
*::after,*::before {
    box-sizing: border-box;
}

a {
    color: #D6E4E8;
}

header {
    height: 160px;
    margin-block: 25px 10px; 
    background-image: url("../Pictures/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 36px;
    padding-left: 140px;
}

nav {
    margin-bottom: 25px;
}

.nav-list {
    display: flex;
    align-items: center;
    background: #333D3F;
    padding-block: 18px;
}

.nav-list > * {
    display: inline-block;
    flex-grow: 1;
}

.nav-list-item > a {
    display: block;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    border-right: 1px solid #D6E4E8;
}

.nav-list > .nav-list-item:last-child > a {
    border-right: none;
}

.container {
    display: flex;
}

.container h1 {
    margin-bottom: 15px;
}

.container div, section {
    margin-bottom: 25px;
}

aside {
    margin-right: 35px;
    width: 80%;
}

.main-menu {
    margin-bottom: 15px;   
}

.main-menu a {
    text-decoration: underline;
}

.main-bottom-container {
    display: flex;
}

.main-bottom-container p {
    margin-bottom: 15px;
}

.main-bottom-right {
    border-left: 1px solid #D6E4E8;
    padding-left: 10px;
}

hr {
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    background: #D6E4E8;
    color: #000;
    padding: 12px 12px;
}

form {
    display: flex;
    flex-wrap: wrap;
}

.form_element {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.form_element input {
    margin-top: 5px;
    padding: 10px 10px;
    border-radius: 4px;
}

.half_form {
    flex: 0 0 50%;
    max-width: 50%;
}

.left_half {
    padding-right: 20px;
}

.half_form, .full_form {
    margin-bottom: 15px;
}

.full_form {
    flex: 0 0 100%;
    max-width: 100%;
}

textarea {
    padding: 6px 8px;
    font-size: 16px;
    border-radius: 4px;
}

.radio-container p {
    display: inline-block;
    margin-right: 100px;
}

.submit_container > * {
    display: block;
    background: #D6E4E8;
    color: #000;
    font-size: 18px;
    padding: 12px 12px;
    text-align: right;
    margin-inline: auto 0;
}

footer {
    text-align: center;
    margin-bottom: 20px;
}